<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="interno-opciones6">
        <div class="tipo-opcion">
            <img src="../assets/engrane.png">
            <span>Códigos</span>
        </div>
        <div class="divInterno">
            <h3>Generar Código QR</h3>
            <label for="numControl">Número de control:</label>
            <input type="tel" id="numControl" class="codAlumno">
            <Button id="btnGenerar" class="generar">
                Generar Código
            </Button> <br>
            <img src="" alt="" id="imgCodigo"> <br>
            <button id="btnDescargarQR" class="descarga">
                Descargar imagen
            </button>
        </div>
    </div>
</body>
</html>