<div class="interno-opciones6">
            
    <div class="tipo-opcion">
        <img src="../assets/engrane.png">
        <span>Asistencias del día</span>
    </div>

    <div class="divInterno">
        <div class="encabezado">
            <div class="mostrarFecha">
                <span class="mfecha" id="mfecha">Fecha:</span>
                <span id="fecha"></span>
            </div>
            <div class="search" id="search">
                <label for="searchDay"><img src="../assets/search-regular-24.png"></label>
                <input type="text" placeholder="Buscar" id="searchDay">
            </div>
        </div>
        <div class="tabla">
            <table class="asistencias" id="asistencias">
                <thead>
                    <tr>
                        <th class="thName">Nombre</th>
                        <th class="thMaquina">Maquina Asignada</th>
                        <th class="hrsAcumul">Horas acumuladas</th>
                    </tr>
                </thead>
                <tbody id="tblAsistencia">
                    
                </tbody>
               
            </table>
        </div>
    </div>
</div>