<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reporte.css">
    <title>Reporte</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <div>
                <img src="../assets/logo.jpg" alt="" class="logo">
            </div>
            <div class="titulo">
                <h3>Instituto Tecnológico de Oaxaca</h3>
                <h3>TecNM Campus Oaxaca</h3>
                <h3>Reporte de asistencias</h3>
            </div>
        </div>
    </header>
    <main>
        <div class="contenido">
            
        </div>
    </main>
</body>
</html>