<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="interno-opciones2" id="interno2">
            
        <div class="tipo-opcion">
            <img src="../assets/engrane.png">
            <span>Alumnos </span>
        </div>

        <div class="divInterno">
            <div class="encabezado">
                <img src="../assets/plus-circle-black.png" class="imgPlus">
                <a class="btnNew" id="btnNew">Nuevo</a>
                
                <div class="search">
                    <label for="search"><img src="../assets/search-regular-24.png"></label>
                    <input type="text" placeholder="Buscar" id="search">
                </div>
            </div>
            <table class="tblAddStudents" id="alumnosTable">
                <thead>
                    <tr>
                        <th class="nControl">N° Control</th>
                        <th class="thName">Nombre</th>
                        <th class="thApellidos">Apellidos</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tablaAlum" class="tblAlum">
                    
                </tbody>
               
            </table>
        </div>
    </div>
</body>
</html>