<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="interno-opciones3">
            
        <div class="tipo-opcion">
            <img src="../assets/engrane.png">
            <span>Alumnos activos</span>
        </div>

        <div class="divInterno">
            <div class="encabezado">
                <div class="search" id="searchAct">
                    <label for="searchAc"><img src="../assets/search-regular-24.png"></label>
                    <input type="text" placeholder="Buscar" id="searchAc">
                </div>
            </div>

            <table class="tblActiveStudents" id="alumnosActiveTable">
                <thead>
                    <tr>
                        <th class="thName">Nombre</th>
                        <th class="thMaquina">Maquina Asignada</th>
                        <th>Horario</th>
                    </tr>
                </thead>
                <tbody id="tablaAlumActives" class="tbActivos">
                    
                </tbody>
               
            </table>
        </div>
        <div class="modalHorarioAc" id="modalActivos">
            <div class="horarioContentAc">
                <span class="close-btn" id="closeModal">&times;</span> 
                <h3 class="title">Horario disponible</h3>
                    <br>
                <div id="days">

                </div>
            </div>
        </div>
    </div>
    <script src=""></script>
</body>
</html>